<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col-md-8">
        <!------------------------------------------------->
        <div class="card" *ngFor="let img of carImages"style="width: 70rem;">
            <img src="{{path}}{{ img.imagePath }}" class="d-block w-100"/>
            
            <div class="card-body">
                <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">CarId</th>
                        <th scope="col">CarName</th>
                        <th scope="col">DailyPrice</th>
                        <th scope="col">BrandId</th>
                        <th scope="col">Brand</th>
                        <th scope="col">ColorId</th>
                        <th scope="col">DailyPrice</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let car of cars">
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{ car.carId }}</span>
                            </div>
                          </div>
                        </th>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{ car.carName }}</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          {{ car.dailyPrice }}
                        </td>
                        <td>
                          <span class="badge badge-dot mr-4">
                            {{ car.brandId }}
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-dot mr-4">
                            {{ car.brandName }}
                          </span>
                        </td>
                        <td>
                          {{ car.colorName }}
                        </td>
                        <td>
                          {{ car.modelYear }}
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" routerLink="/car" class="btn btn-info btn-sm mt-3">Geri Dön</button>
            </div>
          </div>
    </div>   
  </div>
</div>
