<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col-md-8">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Car List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">CarId</th>
                <th scope="col">CarName</th>
                <th scope="col">DailyPrice</th>
                <th scope="col">BrandId</th>
                <th scope="col">Brand</th>
                <th scope="col">ColorId</th>
                <th scope="col">DailyPrice</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let car of cars">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ car.carId }}</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ car.carName }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ car.dailyPrice }}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{ car.brandId }}
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{ car.brandName }}
                  </span>
                </td>
                <td>
                  {{ car.colorName }}
                </td>
                <td>
                  {{ car.modelYear }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-info btn-sm">
                    Detay
                  </button>
                  <button type="button" class="btn btn-primary btn-sm">
                    Düzenle
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    Sil
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" routerLink="/car">Tüm Araçlar</li>
        <li class="list-group-item"
          *ngFor="let brand of brands"          
          routerLink="/car/brand/{{ brand.brandId }}"
          (click)="setCurrentBrand(brand)"
        >
          {{ brand.brandName }}
        </li>
      </ul>
      <h5 *ngIf="currentBrand">{{ currentBrand.brandName }} seçtiniz</h5>
    </div>
  </div>
  <div class="mt-3">
    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let color of colors" (click)="setCurrentColor(color)" routerLink="/car/color/{{ color.colorId }}">{{color.colorName}}</li>       
      </ul>
    </div>
  </div>
</div>
